<div class="container">

	<h3 class="room-head">Welcome to TechUna Chat Room</h3>

	<div class="jumbotron">
		<div ng-repeat="message in messages" class="message"> 
			{{message.user}} - {{message.text}}
		</div>
	</div> 
	<button type = "button" style="width:250px" class="btn btn-success" ng-click="pageNext()">Next</button> 
	<button type = "button" style="width:250px" class="btn btn-success" ng-click="pageBack()">Back</button> 
	<button type = "button" class="btn btn-danger" ng-click="turnFeedOff()">Turn feed Off</button>	 

	<div class="row marketing"> 

		<div class="center-align" > 

			<input type="text" class="form-control" ng-model="currentUser" placeholder="Name">  
			<span class="input-group-btn">  

				<input type="text" class="form-control" ng-model="currentText">   

			</span> 

			<span class = "input-group-btn"> 

				<button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button> 
			</span>  

			<div>  

			</div> 

		</div>     
	</div>

</div>