<div class="container"> 
 	<div class="page-header">
 		<img src="img/FireChat_logo.png" class="thumbnail">  
 		<h1>Real Time Chat </h1> 
 		<h2> {{title}} </h2>
 	</div>

 	<div class="list-messages">

 			<div ng-repeat="message in messages"> 
 			 		{{message.user}} - {{message.text}}
 			</div>

 	</div> 

 	<button type = "button" class="btn btn-danger" ng-click="turnFeedOff()">Turn feed Off</button>	 



 	<div class="row marketing" > 

 	  <div class="center-align" > 

 		<input type="text" class="form-control" ng-model="currentUser" placeholder="Name">  
 		<span class="input-group-btn">  

 			<input type="text" class="form-control" ng-model="currentText">   

 		</span> 

 		<span class = "input-group-btn"> 

 			<button class="btn btn-default" type="button" ng-keydown="sendMessage($event)" ng-click="sendMessage()">Send</button> 
 		</span>  

 		<div>  

 	  </div> 

 	</div>     
</div>