<!-- Start: MAIN CONTENT -->
<div class="content">
  <div class="container">
    <article class="article">
      <div class="page-header">
        <h1>Meet The Creators <small>Caption for the creators</small></h1>
      </div>
      <div class="row">
        <div class="span10 offset1">            
          <div class="row bottom-space">
            <div class="span3 center-align">
              <img src="http://placehold.it/200x200" class="thumbnail">
            </div>
            <div class="span7">
              <p class="team-member-description">
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
              </p>
            </div>
          </div>
          <div class="row bottom-space">
            <div class="span3 center-align">
              <img src="http://placehold.it/200x200" class="thumbnail">
            </div>
            <div class="span7">
              <p class="team-member-description">
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="span3 center-align">
              <img src="http://placehold.it/200x200" class="thumbnail">
            </div>
            <div class="span7">
              <p class="team-member-description">
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
                Short discription about your team member.Short discription about your team member.
              </p>
            </div>
          </div>                            
        </div>
      </div>
      <article>
      </div>
    </div>
    <!-- End: MAIN CONTENT -->