 <!-- Start: MAIN CONTENT -->
 <div class="content">
  <div class="container">
    <div class="page-header">
      <h1>TechUna Events</h1>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Oct<br>10</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Oct<br>10</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Oct<br>20</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Nov<br>1</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Nov<br>12</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Dec<br>10</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="span1 offset1">
        <div class="circle">
          <span class="event-date">Dec<br>20</span>
        </div>
      </div>
      <div class="span9">
        <h4><a href="#">Link to the event</a></h4>
        <p>
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
          Description about your event.Description about your event.Description about your event.
        </p>
      </div>
    </div>
    <div class="pagination pagination-centered">
      <ul>
        <li class="disabled">
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">6</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
      <!-- End: MAIN CONTENT -->