<!-- Start: MAIN CONTENT -->
<div class="content">
  <div class="container">
    <div class="page-header">
      <h1>The Bootbusiness frequently asked questions</h1>
    </div>  
    <div class="row">
      <div class="span10 offset1">
        <div class="accordion" id="faqAccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq1" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq2" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq3" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq4">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq4" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq5">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq5" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq6">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq6" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq7">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq7" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq8">
                  <i class="icon-question-sign"></i> How Bootbusiness makes my business success?
                </a>
              </h4>
            </div>
            <div id="faq8" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Answer the question here.Answer the question here.Answer the question here.
                  Answer the question here.Answer the question here..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: MAIN CONTENT -->