<!-- Start: FOOTER -->
<footer>
  <div class="container"> 
    <div class="row"> 
      <div class="span2">  


        <h4><i class="icon-star icon-white"></i> Products</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="#product.html">Product1</a></li>
            <li><a href="#product.html">Product2</a></li>
            <li><a href="#product.html">Product3</a></li>
            <li><a href="#all_products.html">All products</a></li>
          </ul>
        </nav>  
        <h4><i class="icon-cogs icon-white"></i> Services</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="#service.html">Service1</a></li>
            <li><a href="#service.html">Service2</a></li>
            <li><a href="#service.html">Service3</a></li>
            <li><a href="#all_services.html">All services</a></li>              
          </ul>
        </nav>
      </div> 


      <div class="span2">
        <h4><i class="icon-beaker icon-white"></i> About</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="#our_philosophy.html">Our works</a></li>
            <li><a href="#partnerships.html">Partnerships</a></li>
            <li><a href="#smart_technologies.html">Leadership</a></li>
            <li><a href="#opportunities.html">News</a></li>
            <li><a href="#events.html">Events</a></li>
            <li><a href="#creators.html">Blog</a></li>
            <ul>
            </nav>          
          </div>
          <div class="span2">
            <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="#faq.html">FAQ</a></li>
                <li><a href="#join_us.html">Contact us</a></li>            
              </ul>
            </nav>
            <h4><i class="icon-legal icon-white"></i> Legal</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="#">License</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Security</a></li>      
              </ul>
            </nav>            
          </div>
          <div class="span3">
            <h4>Get in touch</h4>
            <div class="social-icons-row">
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-linkedin"></i></a>                                         
            </div>
            <div class="social-icons-row">
              <a href="#"><i class="icon-google-plus"></i></a>              
              <a href="#"><i class="icon-github"></i></a>
              <a href="mailto:soundar.rathinasamy@gmail.com"><i class="icon-envelope"></i></a>        
            </div>
            <div class="social-icons-row">
              <i class="icon-phone icon-large phone-number"></i> +919750227877
            </div>
          </div>      
          <div class="span3">
            <h4>Get updated by email</h4>
            <form>
              <input type="text" name="email" placeholder="Email address">
              <input type="submit" class="btn btn-primary" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
      <hr class="footer-divider">
      <div class="container">
        <p>
          &copy; 2016-3000 TechUna, Inc. All Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- End: FOOTER -->