 <!-- Start: MAIN CONTENT -->
  <div class="content">
    <!-- Start: slider -->
    <div class="slider">
      <div class="container-fluid">
        <div id="heroSlider" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item">
              <div class="hero-unit">
                <div class="row-fluid">
                  <div class="span7 marketting-info">
                    <h3>Your Gateway To Smart Gadgets And Technology</h3>
                    <p>
                      Techuna brings together the clients, smart technology providers and talented individuals onto a single platform
                    </p>
                    <h3>
                      <a href="#product.html" class="btn">Learn more</a>
                    </h3>                      
                  </div>
                  <div class="span5">
                    <img src="img/Design Two copy.png" class="thumbnail">
                  </div>
                </div>                  
              </div>
            </div>
            <div class="item">
              <div class="hero-unit">
                <div class="row-fluid">
                  <div class="span7 marketting-info">
                    <h2>Platform that facilitates the development of smart cities</h2>
                    <p>
                      A connection for Smart technology providers 
                    </p>
                    <h3>
                      <a href="#service.html" class="btn">Learn more</a>
                    </h3>                      
                  </div>
                  <div class="span5">
                    <img src="img/smartcity.jpg" class="thumbnail">
                  </div>
                </div>                  
              </div>
            </div>
            <div class="item">
              <div class="hero-unit">
                <div class="row-fluid">
                  <div class="span7 marketting-info">
                    <h2>Bringing convenience to clients, smart technology providers and individuals</h2>
                    <p>
                     Connecting all three parties on a single platform  
                   </p>
                   <h3>
                    <a href="#" class="btn btn-primary">Buy now</a>
                    <a href="#product.html" class="btn">Learn more</a>
                  </h3>                      
                </div>
                <div class="span5">
                  <img src="img/smarttech.jpg" class="thumbnail">
                </div>
              </div>                  
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
      </div>
    </div>
  </div>
  <!-- End: slider -->
  <!-- Start: PRODUCT LIST -->
  <div class="container">
    <div class="page-header">
      <h2>Featured Partners</h2>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img src="img/placeholder-360x200.jpg" alt="product name">
            <div class="caption">
              <h3>Partner 1</h3>
              <p>
                Partner Description
              </p>
            </div>
            <div class="widget-footer">
              <p>
                <a href="#" class="btn btn-primary">Website</a>&nbsp;
                <a href="#product.html" class="btn">Read more</a>
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img src="img/placeholder-360x200.jpg" alt="product name">
            <div class="caption">
              <h3>Partner 2</h3>
              <p>
               Partner Description
             </p>
           </div>
           <div class="widget-footer">
            <p>
              <a href="#" class="btn btn-primary">Website</a>&nbsp;
              <a href="#product.html" class="btn">Read more</a>
            </p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="img/placeholder-360x200.jpg" alt="product name">
          <div class="caption">
            <h3>Partner 3</h3>
            <p>
             Partner Description
           </p>
         </div>
         <div class="widget-footer">
          <p>
            <a href="#" class="btn btn-primary">Website</a>&nbsp;
            <a href="#product.html" class="btn">Read more</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>  
<!-- Products -->  
<div class="page-header">
  <h2>Products</h2>
</div>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="img/placeholder-360x200.jpg" alt="product name">
        <div class="caption">
          <h3>Product 1</h3>
          <p>
            Product Description
          </p>
        </div>
        <div class="widget-footer">
          <p>
            <a href="#" class="btn btn-primary">Download product</a>&nbsp;
            <a href="#product.html" class="btn">Read more</a>
          </p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="img/placeholder-360x200.jpg" alt="product name">
        <div class="caption">
          <h3>Product 2</h3>
          <p>
           Product Description
         </p>
       </div>
       <div class="widget-footer">
        <p>
          <a href="#" class="btn btn-primary">Download product</a>&nbsp;
          <a href="#product.html" class="btn">Read more</a>
        </p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="img/placeholder-360x200.jpg" alt="product name">
      <div class="caption">
        <h3>Partner 3</h3>
        <p>
         Product Description
       </p>
     </div>
     <div class="widget-footer">
      <p>
        <a href="#" class="btn btn-primary">Download product</a>&nbsp;
        <a href="#product.html" class="btn">Read more</a>
      </p>
    </div>
  </div>
</li>
</ul>
</div>
<div class="page-header">
  <h2>Our Services</h2>
</div>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="img/placeholder-360x200.jpg" alt="product name">
        <div class="caption">
          <h3>Service 1</h3>
          <p>
           Service description
         </p>
       </div>
       <div class="widget-footer">
        <p>
          <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
          <a href="#product.html" class="btn">Read more</a>
        </p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="img/placeholder-360x200.jpg" alt="product name">
      <div class="caption">
        <h3>Service 2</h3>
        <p>
          Service description
        </p>
      </div>
      <div class="widget-footer">
        <p>
          <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
          <a href="#product.html" class="btn">Read more</a>
        </p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="img/placeholder-360x200.jpg" alt="product name">
      <div class="caption">
        <h3>Service 3</h3>
        <p>
          Service description
        </p>
      </div>
      <div class="widget-footer">
        <p>
          <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
          <a href="#product.html" class="btn">Read more</a>
        </p>
      </div>
    </div>
  </li>
</ul>
</div>
</div>
<!-- End: PRODUCT LIST -->
</div>
<!-- End: MAIN CONTENT -->