<!-- Start: Main content -->
<div class="content">
  <div class="container">
    <div class="page-header">
      <h1>Opportunities <small>Caption for the updated opportunities</small></h1>
    </div>
    <div class="row bottom-space">            
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>            
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>            
      </div>                        
    </div>
    <div class="row bottom-space">
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>             
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>          
      </div>                        
    </div>
    <div class="row">
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>           
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="thumbnail bottom-space-less"></a>
        <p>
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry.
          Short famous news about you in industry.Short famous news about you in industry
        </p>             
      </div>                        
    </div>
  </div>
</div>
<!-- End: Main content -->