  <!-- Start: PRODUCT LIST --> 
  <div class="container" >  
    <div class="page-header">
      <h2 style="text-align:center;">Our concept</h2>
    </div> 
  </div> 
  <div class="container" >  
    <div class="outer"> 
      <div class="span6 offset3">
        <div id="slideshow" >
          <img src="img/image2.jpg" alt="" class="active" />
          <img src="img/image3.jpg" alt="" />

        </div>   
      </div> 
    </div> 
  </div> 
  <br /> 
  <br />  
  <br /> 
  <br />  
  <br /> 
  <br /> 
  <div class="container">  
    <p style="font-size:160%"><b>
      Techuna - The gateway to a smarter society and Events.
    </b></p>  
    <br />
    <p style="font-size:120%"> 
      In the increasingly fast paced and technologically advanced society that we live in today, companies innovate to keep themselves current and ahead of the group. As we move to keep up with the trend, great ideas and innovations are created. However, many fall short of making the mark due to a crucial factor - having an interactive and sustainable platform where corporate, individuals and consumers alike are able to come together to exchange and collaborate on innovative ideas. 
    </p> 
    <br />
    <p style="font-size:160%"><b>
      This is what TECHUNA aims to achieve. 
    </b></p>  
    <br />
    <p style="font-size:120%">
      By creating an interactive and sustainable platform for the sharing and collaborating of innovative ideas, corporate and individuals can now come together on a single platform for the same purpose - to create Events and society through the use of smart technology. 
    </p>
  </div>  
</div>
<br />
<!-- End: MAIN CONTENT -->


<style type="text/css">

  /*** set the width and height to match your images **/

  #slideshow {
    position:relative;
    height:350px;
  }

  #slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
  }

  #slideshow IMG.active {
    z-index:10;
    opacity:1.0;
  }

  #slideshow IMG.last-active {
    z-index:9;
  }

</style> 
<script type="text/javascript">
  function slideSwitch() {
    var $active = $('#slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

          // use this to pull the images in the order they appear in the markup
          var $next =  $active.next().length ? $active.next()
          : $('#slideshow IMG:first');

          // uncomment the 3 lines below to pull the images in random order
          
          // var $sibs  = $active.siblings();
          // var rndNum = Math.floor(Math.random() * $sibs.length );
          // var $next  = $( $sibs[ rndNum ] );


          $active.addClass('last-active');

          $next.css({opacity: 0.0})
          .addClass('active')
          .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
          });
        }

        $(function() {
          setInterval( "slideSwitch()", 5000 );
        });
</script>