 <!-- Start: Main content -->
 <div class="content">
  <div class="container">
    <div class="page-header">
      <h1>Partnerships <small>Caption for the patnerhsip</small></h1>
    </div>
    <div class="row bottom-space">            
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>            
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>            
      </div>                        
    </div>
    <div class="row bottom-space">
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>             
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>          
      </div>                        
    </div>
    <div class="row">
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>           
      </div>
      <div class="span6">
        <a href="#"><img src="http://placehold.it/200x100" class="bottom-space-less thumbnail"></a>
        <p>
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
          Short discription about your patnet.Short discription about your patnet.
        </p>             
      </div>                        
    </div>
  </div>
</div>
  <!-- End: Main content -->